{% import 'macros/form.html' as form %}


<hr/> 
         <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required">*</span>Gruppe hinzufügen</label>
 <br/><br/><ol>
   {% if data.groups %}
        <div class="control-group">
            <label class="control-label">Bereits hinzugefügte Gruppen</label>

            <div class="controls">
                {% for group in data.groups %}
                    <label class="checkbox" for="field-group-{{ loop.index0 }}">
                        <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id"
                               value="{{ group.id }}" checked="checked"/>
                        {{ group.title }}
                    </label>
                {% endfor %}

            </div>
        </div>
         <br/>
            {% set group_name = 'groups__%s__id' % data.groups|length %}
    <div class="control-group control-full">

        <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required">*</span>Zusätzliche Gruppen hinzufügen</label>

        <div class="controls">
            <select id="field-group" name="{{ group_name }}" data-module="autocomplete">
                <option value="">Bitte wählen Sie</option>
                {% for group in h.groups() %}
                    <option value="{{ group.id }}">{{ group.title }}</option>
                {% endfor %}
            </select>
            <br/>
        </div>
    </div>
        </ol>
    {% endif %}
  
    {% if not data.groups %}  
        <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required">* </span>Hauptkategorie</label>
        <div class="controls">
            <select id="field-group" name="groups__0__id" data-module="autocomplete">
                <option value=""selected="selected">Bitte wählen Sie</option>
               <!-- <option value="">Keine</option> -->
                {% for group in h.get_allowable_children_groups_g('main-categories')  %}
		{% set existing_group_id = group.id %}
                    <option value="{{ group.id }}" {% if existing_group_id %} {% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
        </div>
<br/>
        <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required"> </span>Thema</label>
        <div class="controls">
            <select id="field-group" name="groups__1__id" data-module="autocomplete">
                <option value=""selected="selected">Bitte wählen Sie</option>

                {% for group in h.get_allowable_children_groups_g('themes')  %}
		{% set existing_group_id = group.id %}
                    <option value="{{ group.id }}" {% if existing_group_id %} {% endif %}>{{ group.title }}</option>
                {% endfor %}
                <option value="">Keine</option>
            </select>
        </div>
<br/>
        <label class="control-label" for="field-group"><span title="This field is required"
                                                             class="control-required"></span>TUM-Forschungsstation</label>
        <div class="controls">
            <select id="field-group" name="groups__2__id" data-module="autocomplete">
                <option value=""selected="selected">Bitte wählen Sie</option>

                {% for group in h.get_allowable_children_groups_g('agricultural-research-stations')  %}
		{% set existing_group_id = group.id %}
                    <option value="{{ group.id }}" {% if existing_group_id %} {% endif %}>{{ group.title }}</option>
                {% endfor %}
                <option value="">Keine</option>
		
		  
		    
            </select>
        </div>
    </ol><br/>
          <span class="info-block info-block-small">
            <i class="fa fa-info-circle"></i>
{% trans %}Die 'Hauptkategorie' ist ein Pflichtfeld. Um einen besseren Überblick über die gesamten Gruppen zu haben, sehen Sie sich diese <a href="http://10.162.246.199/group/">Seite</a> an.{% endtrans %}</span>
<hr/>
 {% endif %}
 
 
 
